<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs", { title: locals.title }) %>
  <body>
    <%- include("./partials/navbar", { navbar: locals.navbar }) %>
    <div>
      <h1>503: Service Unavailable</h1>
    </div>
  </body>
</html>
