<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs", { title: locals.title }) %>
  <body>
    <%- include("./partials/navbar", { navbar: locals.navbar }) %>
    <h1>Home page</h1>
  </body>
</html>