<html lang="en">
    <%- include('./partials/nav.ejs') %>
    <body>
		<div class="login">
			<h1>Login</h1>
			<form action="/" method="post">
				<label for="username"></label>
				<input type="text" name="username" placeholder="Username" id="username" required></br>
				<label for="password"></label>
				<input type="password" name="password" placeholder="Password" id="password" required></br>
				<input type="submit" value="Login">
			</form>
            <button><a href="/signup">Click Here to Register</a></button>
        </div>
    </body>

</html>