<!DOCTYPE html>
<html lang="en">
  <%- include("./partials/head.ejs", { title: locals.title }) %>
	<body>
		<%- include("./partials/navbar", { navbar: locals.navbar }) %>
		<div class="login">
			<h1>Login</h1>
			<form action="/login" method="post">
				<label for="username"></label>
				<% if (locals.status) { %>
					<span><%= `* ${locals.status}` %></span><br>
				<% } %>
				<input type="text" name="username" placeholder="Username" id="username" required><br>
				<label for="password"></label>
				<input type="password" name="password" placeholder="Password" id="password" required><br>
				<input type="submit" value="Login">
			</form>
            <button><a href="/signup">Click Here to Sign Up</a></button>
        </div>
    </body>
</html>