<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", { title: locals.title }) %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <div>
            <h1>Returned Procedures:</h1>
            <% if (Array.isArray(locals.data) && locals.data.length) { %>
                <ul>
                    <% locals.data.forEach(({ name, billing_number }) => { %>
                        <li><span><%= name %></span> <span><%= billing_number %></span></li>
                    <% }); %>
                </ul>
            <% } else { %>
                <p>Data not found</p>
            <% } %>
            <a href="/search">Return to Search menu</a>
        </div>
    </body>
</html>
