<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs", { title: locals.title }) %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>Procedure Search Portal</h1>
        <% if (locals.authStatus) { %>
            <span><%= `* ${locals.authStatus}` %></span>
        <% } %>
        <div>
            <form action="/results" method="get">
                <br><label>Search:</label><br>
                <label>Procedure Name:
                    <input type="text" id="keyword" name="keyword" value="<%= locals.keyword %>" required>
                </label>
                <br>
                <label>Database Type:
                    <select id="database" name="database">
                        <option value="postgres">PostgreSQL</option>
                        <option value="mongodb">MongoDB</option>
                        <option value="both">Both</option>
                    </select>
                </label>
                <br>
                <button type="submit">Search</button>
            </form>
        </div>
    </body>
</html>
